
.idea
.vscode
scripts/
packages/
public/
node_modules/
src/
types/
vite/
index.html
pnpm-lock.yaml
vite.config.ts
tsconfig.json
tsconfig.node.json
vite.config.ts
env.d.ts
postcss.config.js
tailwind.config.js
.gitignore
*.map
